extends chatlayout
title=title
  block content
    div 
      div(style='display:flex;width:100%;background: #007bff;')
        div.w-100
          a#menu-toggle.btn.btn-primary.collapsed.w-25(style='border-radius:0;color:#fff;' data-toggle='collapse') &larr; Friends
        div(style='color:#fff;').text-center.w-100
          a(style='padding: 0.375rem 0.75rem;display:inline-block')#chatname Name
          span#isactive | Active 
            a#time_interval
        div.text-right.w-100
          a#menu-toggle.btn.btn-primary.collapsed.w-25(style='border-radius:0;' href='/') Home
       #wrapper
         #sidebar-wrapper
           ul#menu.sidebar-nav.nav-pills.nav-stacked
             - alluser.forEach((e)=>{
               - if(e.id!=user.id){
                li
                  a(href='#{e.id}' class='user' chat-name='#{e.name}')
                    span.fa-stack.fa-lg.pull-left
                     img(src='/images/profile.png' style='width:60px;padding: 6px 10px;')
                    | #{e.name}
                -}
             - })
                 li
                   a(href='/logout')
                     span.fa-stack.fa-lg.pull-left
                     | Logout
         #page-content-wrapper
           .container-fluid.xyz(style='position:relative;')#message-chat-container
             .row.h-100
               div.h-100.w-100#chat-container
               div(style='position:absolute;bottom:0;left:0;right:0;').bg-light.w-100#message-area
                 div(contenteditable='true' active='false' style='border: 1px solid grey;min-height:40px;max-height:100px;overflow:hidden;').w-100#message
                  | Send a message
                 button.btn.btn-primary.w-100#send Send Message
    script.
      let userID = '#{user.id}';
      document.cookie = 'userID = '+userID;
      $('#message-chat-container').height(($(window).height()-$('#message').height()-15)+'px');
      $(window).on('resize',()=>{
        $('#message-chat-container').height(($(window).height()-$('#message').height()-15)+'px');
      })
    script(src='/javascripts/chat.js')
